@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

body {
  background-color: #f7fdfc;
  min-height: 100vh;
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 40px;
  max-width: 1440px;
  margin: auto;
}

.inner-container {
  flex: 1;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-img {
  max-width: 80px;
  object-fit: cover;
}

.info-container {
  max-width: 350px;
  line-height: 1.5;
}

.info-container h1 {
  font-size: 42px;
  font-weight: 600;
}

.info-container p {
  color: #737373;
}

.mobile-text {
  display: none;
}

.form {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 50px rgba(4, 8, 19, 0.1);
  gap: 20px;
  line-height: 1.5;
}

.input-group {
  flex: 1;
  flex-basis: calc(50% - 20px);
  display: flex;
  flex-direction: column;
}

.input-group.no-wrap {
  flex-basis: 100%;
}

.input-group label {
  font-weight: 600;
}

.input-group input,
.input-group select {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  height: 45px;
  outline: none;
}

input::placeholder {
  color: #737373;
}

.input-group input:hover,
.input-group select:hover {
  border-color: #2ec4b6;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #2ec4b6;
  outline: 1px solid #2ec4b6;
}

.form button {
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color: #2ec4b6;
  border: none;
  margin: 20px 0;
  color: #ffffff;
}

.form button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form p {
  margin: auto;
  text-align: center;
}

.form a {
  color: #2ec4b6;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
  }
  .logo-img {
    max-width: 40px;
  }
  .desktop-text {
    display: none;
  }
  .mobile-text {
    display: block;
  }
  .info-container {
    max-width: 100%;
    line-height: normal;
  }
  .info-container h1 {
    font-size: 32px;
  }

  .input-group {
    flex-basis: 100%;
  }

  .form {
    width: 100%;
    margin-top: 5%;
    padding: 20px 10px;
  }
}

@media screen and (max-width: 320px) {
  .info-container h1 {
    font-size: 28px;
  }
}
